/* selected tag{
    property : value
} */

h1 {
color: white;
}
ol {
    color: white;
}
body {
   background-image: url(qwe.JPG);
color: white;
background-size: cover;
background-repeat: no-repeat;
} 
h2 {
    color: bisque;
}
table {
   color:white;
}
table thead{
    color: pink;
}
div{
    color: blue;
}
span{
    color: black;
}